* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
    margin-top:20px;
    margin-left:20px;
}

#setup_btn {
    width: 80px;
    height: 30px;
}
#sort {
    height: 30px;
    width:  100px
}

#sortMethod{
    width: 100px;
    height: 30px;
    margin-left:20px
}

#mainContainer {
    height: 630px;
    width: 100%;
    border: 1px solid black;
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
}
